# --- Node ---
node_modules/
dist/
build/
.cache/
tsconfig.tsbuildinfo
yarn-error.log
.DS_Store

# --- Env files ---
.env
.env.*
*.log

# --- Medusa ---
.medusa
medusa-db.sql
uploads/

# --- Yarn ---
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

venv/
.venv/
*/venv/
*/.venv/

stock-updater/venv/

# --- IDE ---
.idea
.vscode
